h1{
    font-size: 56px;
    color: brown;
}
h2{
    @extend h1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    @extend h1;
    font-weight: bold;
}

button{
    @extend h2;
    background-color: cadetblue;
}

.square{
    background-color: darkblue;
}
.square__small{
    height: 140px;
    width: 140px;
    @extend.square
}

.square__medium{
    height: 280x;
    width: 280x;
    @extend.square
}